.un{
    background-color: grey;
    height: 300px;
    padding: 50px;
}

.btn-warning{
    background-color: cyan;
}
.btn-warning:hover{
    background-color: aqua;
}

.deux{
    background-color: aqua;
    height: 300px;
}